@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

:root {
  /* --button-color: rgb(66, 66, 74); */
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-handler-color);
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: background-color 0.6s, color 0.6s;
}

body {
  background-color: var(--background-secondary);
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  /* background: linear-gradient(
    to bottom right,
    rgb(229, 229, 229),
    rgb(237, 237, 237)
  ); */
  background-color: var(--background-default);
  height: 5rem;
  position: fixed;
  top: 0;
  box-shadow: 1px 0 10px 0 rgba(30, 30, 30, 0.365);
  z-index: 10;
}

nav {
  width: inherit;
  height: inherit;
  /* backdrop-filter: blur(100px); */
}

#home,
#projects {
  scroll-margin-top: 40px;
}

#about {
  scroll-margin-top: 100px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
  gap: 2px;
}

.justify-between {
  justify-content: space-between;
}

.f-column {
  flex-direction: column;
}

.sticky {
  position: fixed;
  height: 70px;
}

.list-style-none {
  list-style: none;
}

.mh-2 {
  margin: 0 2rem;
}

.mv-2 {
  margin: 2rem auto;
}

.mv-8px {
  margin: 8px 0;
}

.mv-20px {
  margin: 20px 0;
}

.mt-100px {
  margin-top: 100px;
}

.mt-2 {
  margin-top: 2rem;
}

.td-none {
  text-decoration: none;
}

.bg-sweetgrey {
  background-color: rgb(212, 197, 177);
}

.bg-red {
  background-color: red;
}

.h-100vh {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.h-100px {
  height: 100px;
}

.h-200px {
  height: 200px;
}

.h-240px {
  height: 240px;
}

.h-400px {
  height: 600px;
}

.h-home {
  height: 600px;
}

.h-fit-content {
  height: fit-content;
}

.w-100 {
  width: 100%;
}

.h1-absolute {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

.relative {
  position: relative;
}

.link {
  color: var(--black-secondary);
  transition: 0.4s all;
  position: relative;
}

.link:hover {
  color: var(--black);
}

.link::after {
  position: absolute;
  content: "";
  background-color: var(--black);
  height: 4px;
  bottom: -6px;
  border-radius: 5px;

  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0px;
  transition: 0.4s all;
}

.link:hover::after {
  width: 50px;
}

.active {
  color: var(--black);
}

.toggle-dark-mode {
  position: relative;
  background-color: #749dd6;
  /* margin: 20px 0; */
}

.footer-upper-item {
  /* background-color: #749ed7; */
  width: 100%;
  height: fit-content;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1rem;
}

.grid-item > h2 {
  font-size: 1.3rem;
  color: var(--black);
  transition: color 0.6s 0.1s;
}

.grid-item ul li {
  list-style-type: none;
  margin: 0.6rem 0;
}

.grid-item ul li a,
.footer-bottom-item > p,
.grid-item > p {
  color: var(--black-secondary);
  text-decoration: none;
  transition: color 0.6s 0.1s;
}

.grid-item ul li a:hover {
  color: var(--black);
}

.footer-bottom-item {
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  /* background-color: #e077b0; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item {
  width: auto;
  /* background-color: #404646; */
}

.wrapper-card {
  box-shadow: 2px 2px 10px 0 rgba(32, 32, 51, 0.091);
  width: 90%;
  border-radius: 0.4rem;
  overflow: hidden;
  margin: 1.4rem auto;
  background-color: var(--background-default);
}

.wrapper-card > .wrapper-content {
  padding: 1rem;
}

.upper-background {
  background: linear-gradient(to right, #7ca0fc, #a2e4c0, #94d0f5);
  width: 100%;
  height: 100px;
  position: relative;
}

.wrapper-profile-picture {
  position: absolute;
  bottom: -70px;
  left: 25px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  object-position: center;
  border-radius: 50%;
  outline: 4px solid var(--background-secondary);
}

.wrapper-profile-picture > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-section {
  background-color: var(--background-default);
  width: 100%;
}

.wrapper-profile {
  width: 100%;
  padding: 5rem 1rem 1rem 1rem;
  /* background-color: rgb(27, 103, 169); */
}

.wrapper-profile > h2 {
  font-weight: 500;
  color: var(--black);
}

.wrapper-profile > p {
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.wrapper-content > h2 {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
  margin-bottom: 8px;
}

.wrapper-content > h3 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--black);
}

.wrapper-content > p {
  color: var(--text-secondary);
  text-align: justify;
  margin: 0.6rem 0;
  font-size: 0.9rem;
  line-height: 1.2;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  margin: 0.6rem 0;
}

.w-50 {
  width: 50%;
}

.lang {
  padding: 0.6rem 1.6rem;
  border: 2px solid var(--black);
  border-radius: 8px;
  margin: 2px;
  cursor: default;
  color: var(--black-secondary);
  transition: border 0.6s, color 0.6s, background-color 0.4s;
}

.bg-contact {
  background-color: var(--button-contact-color) !important;
  color: #56b1ee !important;
}

.bg-contact:hover {
  background-color: #7ba5c2 !important;
  color: rgb(255, 255, 255) !important;
  box-shadow: 0 0 0 5px rgba(90, 102, 180, 0.242) !important;
}

.lang[data-lang="Javascript"]:hover {
  background-color: #ffd52d;
  border-color: #ffd52d;
  color: var(--black);
}
.lang[data-lang="HTML"]:hover {
  background-color: #f15c26;
  border-color: #f15c26;
  color: var(--black);
}
.lang[data-lang="CSS"]:hover {
  background-color: #417dff;
  border-color: #417dff;
  color: var(--black);
}
.lang[data-lang="PHP"]:hover {
  background-color: #5c38ff;
  border-color: #5c38ff;
  color: var(--black);
}
.lang[data-lang="React"]:hover {
  background-color: #16b8e5;
  border-color: #16b8e5;
  color: var(--black);
}
.lang[data-lang="Laravel"]:hover {
  background-color: #f93b19;
  border-color: #f93b19;
  color: var(--black);
}
.lang[data-lang="MongoDB"]:hover {
  background-color: #38b543;
  border-color: #38b543;
  color: var(--black);
}
.lang[data-lang="MySQL"]:hover {
  background-color: #4f7edb;
  border-color: #4f7edb;
  color: var(--black);
}
.lang[data-lang="Hapi"]:hover {
  background-color: #ffb41e;
  border-color: #ffb41e;
  color: var(--black);
}
.lang[data-lang="Express"]:hover {
  background-color: #15284d;
  border-color: #15284d;
  color: white;
}

.modal-certificate {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  backdrop-filter: blur(20px);
  background-color: var(--modal-bg-backdrop-color);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.z-index-10 {
  z-index: 10;
}

.pointer-events-none {
  pointer-events: none;
}

.wrapper-certificate {
  width: 90%;
  height: 90%;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px 0 rgba(23, 20, 46, 0.164);
  background-color: var(--modal-bg-color);
  overflow: hidden;
  z-index: 12;
}

.header-certificate {
  width: 100%;
  height: 15%;
  /* background-color: #15284d; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
}

.header-certificate > h2 {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 600;
}

.header-certificate > a {
  float: right;
  cursor: pointer;
  width: 40px;
  height: 40px;
  /* background-color: #16b8e5; */
  display: block;
  position: relative;
}

.header-certificate > a:active .close-btn {
  background-color: var(--black);
}

.body-certificate {
  width: 100%;
  height: 85%;
  padding: 0 1.8rem 1.8rem;
}

.certificate {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  object-position: center;
  border-radius: 0 0 0.5rem 0.5rem;
}

.certificate > img {
  object-fit: cover;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.251);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.close-btn {
  width: 30px;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  background-color: var(--black-secondary);
  top: 19px;
  left: 5px;
  transition: background-color 0.3s;
}

.close-btn:nth-child(1) {
  transform: rotateZ(45deg);
}
.close-btn:last-child {
  transform: rotateZ(-45deg);
}
/* Hamburger Menu BTN */

.hamburger-btn {
  display: none;
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 6;
}

.hamburger {
  fill: var(--black-secondary);
}

.hamburger-btn[aria-expanded="true"] .hamburger {
  fill: var(--black);
}

.hamburger-btn .line {
  transition: 0.7s;
  transform-origin: center;
}

.hamburger-btn[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.hamburger-btn[aria-expanded="true"] .top {
  rotate: 45deg;
}
.hamburger-btn[aria-expanded="true"] .middle {
  opacity: 0;
  scale: 0;
}
.hamburger-btn[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

/* Hamburger Menu BTN */

@media (max-width: 768px) {
  header {
    transition: 0.6s height;
  }

  #home {
    scroll-margin-top: 100px;
  }

  #projects {
    scroll-margin-top: 100px;
  }
  #about {
    scroll-margin-top: 100px;
  }

  .opacity-0 {
    opacity: 0;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 24px;
  }

  nav ul li {
    transition: 0.3s all;
  }

  .hamburger-btn {
    display: block;
    top: 50%;
  }

  .mvm-2 {
    margin: 20px 0;
  }

  .h-home {
    height: 800px;
  }

  .footer-upper-item {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 0.4rem;
  }

  .wrapper-certificate {
    height: 50%;
  }

  .header-certificate > h2 {
    font-size: 1rem;
  }
}

.top-20 {
  top: 20%;
}

@media (min-height: 720px) {
  .h-home {
    height: 700px;
  }
}

/* Theme Switch Toggle*/

.toggleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  padding: 0 20px;
  transform: translate3d(-50%, -50%, 0);
  color: white;
}

.toggleWrapper input {
  position: absolute;
  left: -10em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 45px;
  height: 24px;
  background-color: #83d8ff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 2.9px;
  width: 18px;
  height: 18px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 8px;
  left: 3px;
  width: 2px;
  height: 2px;
}

.toggle__handler .crater--2 {
  top: 13px;
  left: 7px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--3 {
  top: 4px;
  left: 10px;
  width: 6px;
  height: 6px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 4px;
  left: 16px;
  z-index: 0;
  width: 20px;
  height: 1px;
}

.star--2 {
  top: 10px;
  left: 20px;
  z-index: 1;
  width: 20px;
  height: 1px;
}

.star--3 {
  top: 18px;
  left: 12px;
  z-index: 0;
  width: 15px;
  height: 1px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 4px;
  left: 8px;
  z-index: 0;
  width: 1px;
  height: 1px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 10px;
  left: 5px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #fff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(21px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Theme Switch Toggle*/
